* {
    margin: 0;
    padding: 0;
}

body {
    background: #333;
    overflow: hidden;
}

div{
    display: flex;
    align-items: center;
}

img{
    margin: 10px;
    width: 300px;
    /*transition: .5s;*/
    animation-name: mover;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}

/*img:hover{
    filter: grayscale(80%);
    box-shadow: 10px 10px 30px black;
    transform: scale(2) rotate(360deg);
}*/

@keyframes mover{
    from{
        transform: translateX(0);
    }
    20%{
        transform: scale(2);
    }
    40%{
        transition-timing-function: cursor (1);
    }
    to{
        transform: translateX(-2000px);
    }
    
}

@keyframes sombra {
    
    from{
        box-shadow: none;
    }
    to{
        box-shadow: 0 0 0 100px black;
    }
    
}

h1 {
    font-family: Verdana, sans-serif;
    color: white;
    font-size: 260%;
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;
    animation-play-state: running;
    
}

h2 {
    font-family: Verdana, sans-serif;
    color: white;
    font-size: 300%;
    text-align: center;
    animation-duration: 3s;
    animation-name: slidein;
    animation-play-state: running;
    